@tailwind base;
@tailwind components;
@tailwind utilities;

.cell:nth-child(2n) {
  background-color: #1e293b;
}
.cell:nth-child(2n + 1) {
  background-color: #0f172a;
}
.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
